@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.book-cover {
    width: 170px; /* You can set the dimensions to whatever you want */
    height: 252px;
    object-fit: cover;
}

#book-img{
     width: 170px; /* You can set the dimensions to whatever you want */
    height: 252px;
    object-fit: cover;

}

#jumbotron {
  background: red !important;
}

#h1-font {
  font-family: 'Inconsolata', monospace !important;
}

#p-font{
  font-family: 'IBM Plex Serif', serif;

}

#logo-footer{

width: 30px;
height: 30px;
object-fit: contain;
}

body    {
font-family: none;  
  background:#edf2f7 !important;
}

#link {
	cursor: pointer;
}

mark { 
    background-color: yellow;
    color: black;
  }    

  #footer{
    background: #747474  !important;
}

.d-flex{
  width: auto;
}

i{
    width: 170px;
    height: 252px;
    margin: 24px;
}

.text-wrap{
  width: 170px;
  line-height: 25px;
}


.loader {
  text-align: center;
  margin-top: 20%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}